CMG/Projects/*
csv
temp*
*.db
__pycache__
.env
file_dependencies
understand_projects
DeepLake
deleted-mb
added-ma
.vscode
.DS_Store
*.ipynb
*.pt
program_contexts/code_und_dirs
wandb
.gitignore
archived/*
data
*.zip
*.jar
**/logs/*
CMG/program_contexts/funcom.test
CMG/program_contexts/tlcodesum.train
CMG/program_contexts/understand_commands.txt
